body {
        margin: 0 auto;
        max-width: min(100ch, 90%);
        padding: 0 0;
}

h1 {
        font-variant-caps: small-caps;
}

h1, h2, h3, h4, h5, h6, p {
        font-family: "Georgia", "Times New Roman", serif;
}

p, li {
        text-align: justify;
}

td {
        padding-right: 1em;
        vertical-align: top;
}

colgroup {
        display: table-column-group;
}

nav menu {
        top: 0;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
}

nav menu li a {
        display: block;
        padding: 1em 1.5em 1em 0em;
}

a:link, a:active
{
	color: #04f;
	text-decoration: none;
}

a:hover
{
	color: #04f;
	text-decoration: underline;
}

a:visited
{
	color: #84c;
	text-decoration: none;
}

figure, figcaption  {
        text-align: center;
}

img {
        max-width: 100%;
}

.image-row {
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
}
